<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
  <title>封面修改</title>
  <link rel="stylesheet" href="css/57.css">
</head>
<body>
<form action="/downloadURL" method="post">
  <div class="container" style="height: auto">
    <div class="tit">封面修改(网图链接上传)</div>
    <input type="text" name="id" placeholder="第几张图(从左到右1-7)">
    <input type="text" name="title" placeholder="标题">
    <input id="url" type="text" name="ImgURL" placeholder="图片链接"  onchange="showPreview(this)">
    <img id="portrait" src="" style="display:none;max-width: 350px;max-height: 350px" />
    <button type="submit">提交</button>
  </div>
</form>
<div class="square">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="circle">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
</body>
</html>
<script type="text/javascript">
  function showPreview() {
      var url=document.getElementById('url');
      var portrait = document.getElementById('portrait');
      portrait.src = url.value;
      portrait.style.display = 'block';

  }
</script>