<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
    <title>文章提交</title>
    <link rel="stylesheet" href="css/57.css">
</head>
<body>
<form action="/tijiao1" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="tit">文章提交界面</div>
        <input type="text" name="title" placeholder="标题">
        <input type="text" name="introduce" placeholder="介绍">
        <a style="min-height: 13px">封面图片</a><input style="min-height: 26px" type="file" name="coverFile"  onchange="showPreview(this)">
        <img id="portrait" src="" style="display:none;max-width: 340px;max-height: 350px"/>
        <textarea name="text" placeholder="文章内容" style="max-width: 340px;min-height: 200px"></textarea>
        <button type="submit">提交</button>
    </div>
</form>
<div class="square">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="circle">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript">
    function showPreview(source) {
        var file = source.files[0];
        if(window.FileReader) {
            var fr = new FileReader();
            console.log(fr);
            var portrait = document.getElementById('portrait');
            fr.onloadend = function(e) {
                portrait.src = e.target.result;
            };
            fr.readAsDataURL(file);
            portrait.style.display = 'block';
        }
    }
</script>