<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
    <title>广药易班管理员登录界面</title>
    <link rel="stylesheet" href="css/57.css">
</head>

<body>
	<form action="/User" method="post">
    <div class="container">
        <div class="tit">登录界面</div>
        <input type="text" name="name" placeholder="账号">
        <input type="password" name="password" placeholder="密码">
        <button type="submit">登录</button>
    </div>
    </form>
    <div class="square">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="circle">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html> 