<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>广药易班管理员界面</title>
    <link rel="stylesheet" href="css/57.css">
</head>

<body>


<div class="container" style="height: auto">
    <div style="margin: 30px auto 35px auto;" class="tit">管理员界面</div>
    <a href="/26d9a9b077d03324659ea35c024648a6">
        <button style="margin: 20px auto 25px auto">文章添加</button>
    </a>
    <a href="6a295e846d2532d2248ff5d8a35448f4">
        <button style="margin: 20px auto 25px auto">视频添加</button>
    </a>
    <a href="abf9912304b563dbe8eefa486eeab924">
        <button style="margin: 20px auto 25px auto">公众号文章添加</button>
    </a>
    <a href="85362944cd0681a3e7631af7b5bc9770">
        <button style="margin: 20px auto 25px auto">封面图片修改</button>
    </a>
    <a href="d15aa0f48fcbd1338d51013daffbbc15">
    <button style="margin: 20px auto 25px auto">封面图片修改(网图链接上传)</button>
    </a>
    <a href="391ad4e4d115fc48d1f004005bb95deb">
    <button style="margin: 20px auto 25px auto">文章视频删除</button></a>

</div>

<div class="square">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="circle">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>