/* CSS Document */
ol, ul {list-style: none;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/* Init */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend{margin: 0; padding: 0;border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}
/*页面留白*/
.blank{height:12px; line-height:8px; clear:both; visibility:hidden;}
/* common */
a,a:visited{ color:#000000; text-decoration:none;}
a:hover{ text-decoration:none;}
.clearer{ line-height:0px; clear:both;}

/* new clear .clear{overflow:hidden; zoom:1; clear:both;}*/
.clear:after {content: ".";clear: both;height: 0;visibility: hidden;display: block;} 
.clear {display: inline-block;}
/* Hides from IE-mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* End hide from IE-mac */
