*{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	height: 58px;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	box-shadow: 1px 2px 2px #EEEEEE;
	position: relative;
	line-height: 58px;
}
.hleft{
	width: 600px;
	height: 58px;
	position: absolute;
	left: 0px;
}
.hleft .logo{
	width: 158px;
	height: 58px;
	background: url(../img/header/logo.png) no-repeat 22px 8px;
}
.hleft .logo a{
	display: inline-block;
	width: 158px;
	height: 58px;
}
.hleft .logo a .zhuzhan{
	display:inline-table;
	width: 52px;
	height: 20px;
	color: #000000;
	font-size: 14px;
	font-family: "微软雅黑";
	margin-left:110px;
	background: url(../img/header/jiantou.png) no-repeat 30px center;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.hleft .logo .meun{
	width: 670px;
	height: 372px;
	position: relative; 
	left: 25px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	padding: 10px 5px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hleft .logo:hover span{
	color: #00A1D6;
}
.hleft .logo:hover .meun{
	visibility: visible;
	opacity: 1;
}
.hleft .logo .meun .mleft{
	width: 436px;
	height: 352px;
	float: left;
	border-right: 1px solid #E7E7E7;
}
.hleft .logo .meun .ms{
	display: block;
	width: 212px;
	height: 44px;
	float: left;
	font: 14px/44px "微软雅黑";
	text-indent: 60px;
	border-radius:5px;
	color: #000000;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}
.hleft .logo .meun .ms:hover{
	color: #00A1D6;
	background-color: #F4F4F4;
}
.hleft .logo .meun .ms span{
	color: #999999;
	font-size:12px ;
	margin-left:75px ;
}
.hleft .logo .meun .ms .ls{
	margin-left:60px ;
}
.hleft ul{
	width: 443px;
	position: absolute;
	top: 0px;
	left: 158px;
}
.hleft ul li{
	float: left;
	text-align: center;
}
.hleft ul li a{
	margin: 0px 8px;
	color: #000000;
	font-size: 14px;
	font-family: "微软雅黑";
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.hleft ul li:hover .zhuli{
	color: #00A1D6;
}
.hleft ul .games .games-1{
	width: 468px;
	height: 258px;
	position: absolute;
	top: 59px;
	left: 10px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hleft ul .games:hover .games-1{
	visibility: visible;
	opacity: 1;
}
.hleft ul .games .games-1 .games-1-left{
	width: 245px;
	height: 244px;
	margin-top: 10px;
	padding: 0px 10px;
	float: left;
}
.hleft ul .games .games-1 .games-1-left img{
	border-radius: 4px;
}
.hleft ul .games .games-1 .games-1-left .ig{
	height: 20px;
	width: 96%;
	line-height: 20px;
	text-indent: 10px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.3);
	position: relative;
	top: -45px;
	text-align: left;
	color: #FFFFFF;
	margin-left: 5px;
}
.hleft ul .games .games-1 .games-1-left a{
	width: 88px;
	height: 100px;
	float: left;
	margin: -30px -4px;
	color: #000000;
}
.hleft ul .games .games-1 .games-1-left a:hover{
	background-color: #E5E9EF;
}
.hleft ul .games .games-1 .games-1-left a img{
	width: 66px;
	height: 66px;
	border-radius: 10px;
}
.hleft ul .games .games-1 .games-1-left a p{
	line-height: 20px;
	margin-top: -20px;
}
.hleft ul .games .games-1 .games-1-right{
	width: 180px;
	height: 231px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	box-shadow: -3px 0px 2px #DFDFDF;
}
.hleft ul .games .games-1 .games-1-right ul{
	width: 180px;
	height: 200px;
	position: absolute;
	top: 40px;
	left: 290px;
	outline: 0px;
}
.hleft ul .games .games-1 .games-1-right ul li{
	height: 28px;
	width: 100%;
	clear: both;
	line-height: 28px;
	text-align: left;
	transition: all 0s;
	-webkit-transition: all 0s;
}
.hleft ul .games .games-1 .games-1-right ul li a{
	color: #000000;
}
.hleft ul .games .games-1 .games-1-right img{
	position: absolute;
	left: 277px;
	top: 9px;
}
.hleft ul .games .games-1 .games-1-right ul li img{
	position: absolute;
	left: 165px;
	top: -10px;
	display: none;
}
.hleft ul .games .games-1 .games-1-right ul li:hover{
	background-color: #E5E9EF;
}
.hleft ul .games .games-1 .games-1-right ul li:hover a{
	color: #00A1D6;
}
.hleft ul .games .games-1 .games-1-right ul li:hover img{
	display: block;
}
.hleft ul .zhibo .zhibo-1{
	width: 505px;
	height: 225px;
	position: absolute;
	top: 59px;
	left: 80px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	padding: 20px 0px 20px 20px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
	color: #000000;
}
.hleft ul .zhibo:hover .zhibo-1{
	visibility: visible;
	opacity: 1;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-left{
	width: 257px;
	height: 224px;
	border-right: 1px solid #EEEEEE;
	float: left;
}
.hleft ul .zhibo .zhibo-1 h3{
	text-align: left;
	line-height: 20px;
	color: #EA759F;
	font-size: 14px;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-left .zhibo-list{
	height: 200px;
	margin-top: 10px;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-left .zhibo-list a{
	display: list-item;
	float: left;
	margin-top: 5px;
	position: relative;
	color: #000000;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-left .zhibo-list a img{
	height: 66px;
	width: 66px;
	border-radius: 33px;
	
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-left .zhibo-list a p{
	line-height: 20px;
	margin-top: -20px;
	font-size: 12px;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-left .zhibo-list a .zhibo-hover{
	height: 66px;
	width: 66px;
	border-radius: 33px;
	position: absolute;
	top: 0px;
	background: rgba(0,0,0,0.5) url(../img/header/yuan.png) no-repeat 10px center;
	color: #FFFFFF;
	line-height: 66px;
	text-indent: 12px;
	font-weight: 700;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-left .zhibo-list a:hover .zhibo-hover{
	transform: scale(1);
	-webkit-transform: scale(1);
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-right {
	float: left;
	width: 246px;
	height: 240px;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-right .zhibo-1-right-tu{
	height: 100px;
	margin: 5px 0px;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-right .zhibo-1-right-tu img{
	margin-top: 10px;
}
.hleft ul .zhibo .zhibo-1 .zhibo-1-right .zhibo-1-right-tu:hover{
	background-color: rgb(234,234,234);
}
.hleft ul .manhua .manhua-1{
	width: 498px;
	height: 237px;
	position: absolute;
	top: 58px;
	left: 180px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	padding: 12px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hleft ul .manhua:hover .manhua-1{
	visibility: visible;
	opacity: 1;
}
.hleft ul .manhua .manhua-1 .manhua-1-left{
	width: 320px;
	height: 240px;
	border-right: 1px solid #EEEEEE;
	float: left;
}
.hleft ul .manhua .manhua-1 .manhua-1-left .manhuadiv{
	width: 136px;
	height: 100px;
	float: left;
	line-height: 100px;
	padding: 8px 8px;
	margin: 0px 0px;
	border-radius: 4px;
}
.hleft ul .manhua .manhua-1 .manhua-1-left .manhuadiv:hover{
	background-color: rgb(244,244,244);
}
.hleft ul .manhua .manhua-1 .manhua-1-left .manhuadiv img{
	width:136px;
	height: 77px;
	margin-top: 5px;
}
.hleft ul .manhua .manhua-1 .manhua-1-left .manhuadiv  p{
	line-height: 20px;
	position: relative;
	top: -42px;
	font-size: 12px;
	float: left;
}
.hleft ul .manhua .manhua-1 .manhua-1-right{
	float:left;
	width: 170px;
	height: 233px;
	margin-top: -10px;
}
.hleft ul .manhua .manhua-1 .manhua-1-right p{
	text-align: left;
	text-indent: 20px;
	font-family: "微软雅黑";
}
.hleft ul .manhua .manhua-1 .manhua-1-right ol{
	width: 170px;
	height: 180px;
}
.hleft ul .manhua .manhua-1 .manhua-1-right ol li{
	text-indent: 40px;
	list-style: circle;
	text-align: left;
	width: 100%;
	height: 30px;
	clear: both;
	line-height: 30px;
	display: block;
}
.hleft ul .manhua .manhua-1 .manhua-1-right ol li a{
	color: #000000;
}
.manhua .manhua-1 .manhua-1-right ol li:hover {
	background-color: rgb(244,244,244);
}
.hleft ul .manhua .manhua-1 .manhua-1-right ol li img{
	position: absolute;
	width: 162px;
	height: 216px;
	border-radius: 4px;
	right: -140px;
	top: 40px;
	display: none;
}
.hleft ul .manhua .manhua-1 .manhua-1-right ol li:hover img{
	display: block;
}
.hleft ul .BML .bml-1{
	width: 375px;
	height: 232px;
	position: absolute;
	top: 58px;
	left: 200px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	padding: 12px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hleft ul .BML .bml-1 a{
	position: absolute;
	left: 5px;
}
.hleft ul .BML .bml-1 img{
	border-radius: 4px;
}
.hleft ul .BML .bml-1 .bml-1-2{
	bottom: -10px;
}
.hleft ul .BML .bml-1 a p{
	height: 20px;
	width: 100%;
	line-height: 20px;
	text-indent: 10px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 25px;
	text-align: left;
	color: #FFFFFF;
}
.hleft ul .BML:hover .bml-1{
	visibility: visible;
	opacity: 1;
}
.hleft ul .xiazai a{
	margin-left: 5px;
	padding-left: 18px;
	background: url(../img/header/shouji.png) no-repeat 0px center;
}
.hleft ul .xiazai .xiazaiapp{
	width: 275px;
	height: 203px;
	background: url(../img/header/app-download.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 58px;
	right: -90px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	z-index: 99;
}
.hleft ul .xiazai:hover .xiazaiapp{
	visibility: visible;
	opacity: 1;
}
.hleft .logo .meun .mright{
	width: 224px;
	height: 352px;
	float: left;
}
.hright{
	width: 500px;
	height: 58px;
	position: absolute;
	right: 0px;
}
.hright .tou{
	width: 36px;
	height: 36px;
	float: left;
	margin: 10px 20px;
}
.hright .tou img{
	width: 36px;
	height: 36px;
	border-radius: 18px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transform: scale(1);
	-webkit-transform: scale(1);
	position: absolute;
	top: 10px;
	z-index: 999;
}
.hright .tou .tou-1{
	width: 280px;
	height: 607px;
	position: absolute;
	top: 58px;
	left:-102px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .tou:hover .tou-1{
	visibility: visible;
	opacity: 1;
}
.hright .tou:hover .tou-img{
	transform: scale(2);
	-webkit-transform: scale(2);
	top: 40px;
	font-family: "微软雅黑";
}
.hright .tou .tou-1 .tou-p{
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	margin-top: 40px;
	line-height: 20px;
	color: #212121;
}
.hright .tou .tou-1 .tdiv-1{
	width: 240px;
	height: 54px;
	padding: 0px 20px;
	position: relative;
	margin-top: 5px;
}
.hright .tou .tou-1 .tdiv-1 .szuo{
	color: #212121;
	font-size: 14px;
	float: left;
	line-height: 35px;
}
.hright .tou .tou-1 .tdiv-1 .syou{
	color: #999999;
	font-size: 12px;
	float: right;
	line-height: 35px;
}
.hright .tou .tou-1 .tdiv-1 img{
	width: 241px;
	height: 4px;
	position: absolute;
	top: 40px;
	left: 20px;
}
.hright .tou .tou-1 .tdiv-1 .tdiv-1-1{
	width: 210px;
	height: 159px;
	position: absolute;
	top: -35px;
	right:-230px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	background-color: #FFFFFF;
	z-index: 99;
	padding: 15px;
}
.hright .tou .tou-1 .tdiv-1:hover .tdiv-1-1{
	visibility: visible;
	opacity: 1;
}
.hright .tou .tou-1 .tdiv-1 .tdiv-1-1 .p-title{
	font-size: 14px;
	margin-bottom: 10px;
}
.hright .tou .tou-1 .tdiv-1 .tdiv-1-1 p{
	font-size: 14px;
	line-height: 20px;
}
.hright .tou .tou-1 .tdiv-1 .tdiv-1-1 a{
	color: #00A1D6;
	font-size: 14px;
	position: absolute;
	bottom: -5px;
	font-weight: 700;
	
}
.hright .tou .tou-1 .tdiv-2{
	height: 40px;
	padding: 0px 20px;
}
.hright .tou .tou-1 .tdiv-2 span{
	padding-right: 15px;
	font-size: 14px;
	cursor: pointer;
}
.hright .tou .tou-1 .tdiv-2 span:hover{
	color: #00A1D6;
}
.hright .tou .tou-1 .tdiv-2 span img{
	width: 22px;
	height: 22px;
	position: relative;
	top: 5px;
	left: 0px;
	margin-right: 5px;
	border-radius: 11px;
	cursor: pointer;
}
.hright .tou .tou-1 .tdiv-2 img{
	position: relative;
	width: 55px;
	height: 22px;
	top: 5px;
	left: 55px;
	cursor: pointer;
}
.hright .tou .tou-1 .tdiv-3{
	height: 57px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	margin-top: 5px;
	cursor: pointer;
}
.hright .tou .tou-1 .tdiv-3 .tdiv-3-1{
	width: 93px;
	height: 57px;
	float: left;text-align: center;
}
.hright .tou .tou-1 .tdiv-3 .tdiv-3-1 span{
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-top: 8px;
}
.hright .tou .tou-1 .tdiv-3 .tdiv-3-1 p{
	font-size: 16px;
	font-family:fantasy;
	line-height: 20px;
	margin-top: -2px;
}
.hright .tou .tou-1 .tdiv-3 .tdiv-3-1:hover span{
	color: #00A1D6;
}
.hright .tou .tou-1 .tdiv-3 .tdiv-3-1:hover p{
	color: #00A1D6;
}
#tou-ul{
	height: 254px;
	width: 280px;
	padding: 7px 0px;
	border-bottom: 1px solid #EEEEEE;
}
#tou-ul li{
	height: 42px;
	text-indent: 54px;
	line-height: 42px;
}
#tou-ul li:hover{
	background-color: #F4F4F4;
}
#tou-ul li a{
	display: block;
	color: #212121;
	font-size: 14px;
	font-family: "微软雅黑";
}
.hright .tou .tou-1 .tdiv-4{
	height: 44px;
	width: 280px;
	text-indent: 54px;
	color: #212121;
	font-size: 14px;
	font-family: "微软雅黑";
	margin: 7px 0px;
	line-height: 44px;
	background: url(../img/header/tt7.png) no-repeat 25px center;
	cursor: pointer;
}
.hright .tou .tou-1 .tdiv-4:hover{
	background-color: #F4F4F4;
}
.hright .tou .tou-1 .tdiv-4 img{
	position: relative;
	height: 13px;
	width: 9px;
	left: 90px;
	top: 0px;
}
.hright .tou .tou-1 .tdiv-4 .tdiv-4-1{
	height: 76px;
	width: 240px;
	padding: 8px 0px;
	position: absolute;
	top: 490px;
	right:-230px;
	line-height: 39px;
	border: 1px solid #EEEEEE;
	text-indent: 15px;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .tou .tou-1 .tdiv-4:hover .tdiv-4-1{
	visibility: visible;
	opacity: 1;
}
.hright .tou .tou-1 .tdiv-4 .tdiv-4-1 ul{
	width: 100%;
	height: 100%;
}
.hright .tou .tou-1 .tdiv-4 .tdiv-4-1 ul li{
	height: 39px;
}
.hright .tou .tou-1 .tdiv-4 .tdiv-4-1 ul li:hover{
	background-color: #F4F4F4;
}
.hright .tou .tou-1 .tdiv-4 .tdiv-4-1 ul .tdiv-4-shang{
	color: #00A1D6;
}
.hright .tou .tou-1 .tdiv-4 .tdiv-4-1 ul .tdiv-4-shang img{
	position: relative;
	width: 13px;
	height: 9px;
	left: 130px;
}
.hright .tou .tou-1 .tdiv-5{
	border-top: 1px solid #EEEEEE;
	height: 41px;
	padding: 7px 0px;
	line-height: 41px;
}
.hright .tou .tou-1 .tdiv-5 .tdiv-5-1{
	text-indent: 54px;
	color: #212121;
	font-size: 14px;
	font-family: "微软雅黑";
	background: url(../img/header/tt8.png) no-repeat 25px center;
	cursor: pointer;
}
.hright .tou .tou-1 .tdiv-5 .tdiv-5-1:hover{
	background-color: #F4F4F4;
}
.hright .rul{
	width: 290px;
	height: 58px;
	float: left;
}
.hright .rul li{
	float: left;
	margin: 0px 6px;
}
.hright .rul li a{
	color: #000000;
	font-size: 14px;
	font-family: "微软雅黑";
}
.hright .rul .huiyuan .huiyuan-1{
	width: 235px;
	height: 289px;
	position: absolute;
	top: 58px;
	left:-40px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	padding: 14px;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .rul .huiyuan:hover .huiyuan-1{
	visibility: visible;
	opacity: 1;
}
.hright .rul .huiyuan .huiyuan-1 h3{
	font-size: 14px;
	font-weight: 900;
	line-height: 20px;
	margin: 5px 0px 12px;
}
.hright .rul .huiyuan .huiyuan-1 .huiyuan-zhong{
	width: 116px;
	height: 192px;
	float: left;
	
}
.hright .rul .huiyuan .huiyuan-1 .huiyuan-zhong img{
	width: 107px;
	height: 143px;
	cursor: pointer;
}
.hright .rul .huiyuan .huiyuan-1 .huiyuan-zhong .huiyuan-2{
	margin-left: 10px;
}
.hright .rul .huiyuan .huiyuan-1 .huiyuan-zhong p{
	line-height: 20px;
	font-size: 14px;
	width: 108px;
	margin-left: 10px;
	margin-top: -10px;
}
.hright .rul .huiyuan .huiyuan-1 .huiyuan-zhong p:hover{
	color: #00A1D6;
}
.hright .rul .huiyuan .huiyuan-1 a{
	display: block;
	width: 160px;
	height: 32px;
	background-color: #00A1D6;
	line-height: 32px;
	position: absolute;
	text-align: center;
	color: #FFFFFF;
	bottom: 15px;
	left: 50px;
	border-radius: 4px;
}
.hright .rul .huiyuan .huiyuan-1 a:hover{
	background-color: #00B5E5;
}
.hright .rul .xiaoxi .xiaoxi-1{
	width: 175px;
	height: 200px;
	position: absolute;
	top: 58px;
	left:-65px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	padding-top: 10px;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .rul .xiaoxi{
	position: relative;
}
.hright .rul .xiaoxi img{
	position: absolute;
	border-radius: 50%;
	top: 9px;
	left: 20px;
}
.hright .rul .xiaoxi .xiaoxi-1 ul li img{
	position: absolute;
	border-radius: 50%;
	top: 132px;
	left: 140px;
}
.hright .rul .xiaoxi:hover .xiaoxi-1{
	visibility: visible;
	opacity: 1;
}
.hright .rul .xiaoxi .xiaoxi-1 ul{
	width: 100%;
	height: 200px;
}
.hright .rul .xiaoxi .xiaoxi-1 ul li{
	height: 37px;
	width: 100%;
	clear: both;
	line-height: 40px;
	text-indent: 10px;
	margin-left: 0px;
}
.hright .rul .xiaoxi .xiaoxi-1 ul li:hover{
	background-color: #F4F4F4;
}
.hright .rul .xiaoxi .xiaoxi-1 ul li a{
	display: block;
	color: #000000;
}
.hright .rul .dongtai .dongtai-1{
	width: 372px;
	height: 520px;
	position: absolute;
	top: 58px;
	left:-20px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .rul .dongtai:hover .dongtai-1{
	visibility: visible;
	opacity: 1;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-top{
	height: 48px;
	width: 100%;
	border-bottom: 1px solid #E7E7E7;
	line-height: 48px;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-top span{
	width: 70px;
	height: 24px;
	background-color: #00A1D6;
	border-radius: 35px;
	line-height: 24px;
	margin: 12px 10px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	float: left;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-top p{
	font-size: 12px;
	cursor: pointer;
	color: #999999;
	float: left;
	margin:0px  10px;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-top p:hover{
	color: #00A1D6;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-bottom{
	height: 430px;
	width: 372px;
	padding:20px 0px;
	overflow: auto;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-bottom .dongtai-xiaoxi{
	width: 332px;
	height: 115px;
	text-indent: 95px;
	line-height: 95px;
	color: #999999;
	font-size: 14px;
	position: relative;
	border-bottom: 1px solid #E7E7E7;
	margin: 0px 20px;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-bottom .dongtai-xiaoxi .dongtai-tip{
	position: absolute;
	color: #999999;
	font-size: 12px;
	bottom: -10px;
	left: 130px;
	padding: 0px 10px;
	text-indent: 0px;
	height: 20px;
	line-height: 20px;
	background-color: #FFFFFF;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-bottom .dongtai-1-bottom-bottom{
	width: 355px;
	margin-top: 5px;
	padding-top: 5px;
}
.dongtai-1-bottom-bottom .dtdiv{
	height: 60px;
	cursor: pointer;
	padding: 10px 0px 15px 20px;
	position: relative;
}
.dongtai-1-bottom-bottom .dtdiv:hover{
	background-color: #F4F4F4;
}
.dongtai-1-bottom-bottom .dtdiv .imgzuo{
	height: 36px;
	width: 36px;
	border-radius: 18px;
	position: relative;
	float: left;
}
.dongtai-1-bottom-bottom .dtdiv .imgzuo img{
	height: 36px;
	width: 36px;
	border-radius: 18px;
}
.dongtai-1-bottom-bottom .dtdiv .imgzuo .imgbiao{
	height: 12px;
	width: 12px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.dongtai-1-bottom-bottom .dtdiv .shangzuo{
	font-size: 12px;
	position: absolute;
	top: -10px;
	left: 70px;
	color: #505050;
}
.dongtai-1-bottom-bottom .dtdiv .shangyou{
	font-size: 12px;
	position: absolute;
	top: -10px;
	left: 160px;
	color: #999999;
	letter-spacing: 1px;
}
.dongtai-1-bottom-bottom .dtdiv .xiaxia{
	font-size: 14px;
	width: 196px;
	position: absolute;
	top: 30px;
	left: 70px;
	line-height: 20px;
	font-family: "微软雅黑";

}
.dongtai-1-bottom-bottom .dtdiv .imgyou {
	position: absolute;
	top: 10px;
	right: 25px;
	border-radius: 2px;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-bottom .dongtai-1-bottom-bottom a{
	display: block;
	width: 331px;
	height: 32px;
	background-color: #F4F4F4;
	line-height: 32px;
	margin: 15px auto 0px;
	text-align: center;
	border-radius: 4px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	color: #000000;
}
.hright .rul .dongtai .dongtai-1 .dongtai-1-bottom .dongtai-1-bottom-bottom a:hover{
	background-color: #E7E7E7;
}
.hright .rul .shoucang .shoucang-1{
	width: 522px;
	height: 520px;
	position: absolute;
	top: 58px;
	left:-60px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .rul .shoucang:hover .shoucang-1{
	visibility: visible;
	opacity: 1;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-left{
	width: 150px;
	height: 100%;
	border-right:1px solid #E7E7E7;
	float: left;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-left .scl-shang{
	margin-top: 15px;
	height: 46px;
	background-color:#00A1D6 ;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-left .scl-xia{
	height: 46px;
	color: #000000;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right{
	width: 371px;
	height: 100%;
	float: left;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-shang{
	height: 459px;
	border-bottom:1px solid #E7E7E7;
	overflow: auto;
	padding-top: 15px;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-shang .spdiv{
	height: 76px;
	padding-left:20px;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	position: relative;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-shang .spdiv:hover {
	background-color: #F4F4F4;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-shang .spdiv img{
	width: 108px;
	height: 62px;
	margin-top: 5px;
	float: left;
	margin-right: 12px;
	border-radius: 4px;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-shang .spdiv span{
	position: absolute;
	display: block;
	height: 20px;
	top: 45px;
	left: 88px;
	background-color: rgba(0,0,0,0.5);
	line-height: 20px;
	color: #FFFFFF;
	padding: 0px 4px;
	font-size: 12px;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-shang .spdiv .pshang{
	color: #000000;
	font-size: 13px;
	line-height: 25px;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-shang .spdiv .pxia{
	line-height: 20px;
	font-size: 12px;
	color: #999999;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-xia{
	height: 46px;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-xia .scr-xia-left{
	width: 190px;
	height: 46px;
	float: left;
	text-align: center;
	line-height: 46px;
	font-size: 14px;
	font-family: "微软雅黑";
	cursor: pointer;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-xia .scr-xia-left:hover{
	background-color: #F4F4F4;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-xia .scr-xia-right{
	float: left;
	width: 180px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #00A1D6;
	background: url(../img/header/bofang.png) no-repeat 42px 16px;
	cursor: pointer;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-xia .scr-xia-right:hover{
	background-color: #F4F4F4;
}
.hright .rul .shoucang .shoucang-1 .shoucang-1-right .scr-xia .scr-xia-right img{
	margin-right: 5px;
}
.hright .rul .lishi .lishi-1{
	width: 373px;
	height: 520px;
	position: absolute;
	top: 58px;
	left: 90px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .rul .lishi:hover .lishi-1{
	visibility: visible;
	opacity: 1;
}
.hright .rul .lishi .lishi-1 .lishi-1-top{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #F4F4F4;
	line-height: 50px;
}
.hright .rul .lishi .lishi-1 .lishi-1-top p{
	font-size: 12px;
	text-indent: 10px;
	width: 100%;
	height: 24px;
	cursor: pointer;
}
.hright .rul .lishi .lishi-1 .lishi-1-top p .zhuan1{
	display:inline-block;
	width: 70px;
	height: 24px;
	background-color: #00A1D6;
	border-radius: 35px;
	line-height: 24px;
	margin: 0px 10px;
	color: #FFFFFF;
	cursor: pointer;
}
.hright .rul .lishi .lishi-1 .lishi-1-top p .zhuan2:hover{
	color: #00A1D6;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom{
	height: 469px;
	overflow: auto;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom p{
	padding-left:20px;
	color: #999999;
	font-size: 12px;
	line-height: 37px;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom .spdiv{
	height: 76px;
	padding-left:20px;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom .spdiv:hover {
	background-color: #F4F4F4;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom .spdiv img{
	width: 108px;
	height: 62px;
	margin-top: 5px;
	float: left;
	margin-right: 12px;
	border-radius: 4px;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom .spdiv .pshang{
	color: #000000;
	font-size: 13px;
	line-height: 25px;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom .spdiv .pxia{
	line-height: 20px;
	font-size: 12px;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom a{
	display: block;
	width: 331px;
	height: 32px;
	background-color: #F4F4F4;
	line-height: 32px;
	margin: 15px auto;
	text-align: center;
	border-radius: 4px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	color: #000000;
}
.hright .rul .lishi .lishi-1 .lishi-1-bottom a:hover{
	background-color: #E7E7E7;
}
.hright .tougao{
	width: 100px;
	height: 37px;
	background-color: #de2910ff;
	float: left;
	border-radius: 4px;
	margin: 10px 0px;
	text-align: center;
	line-height: 37px;
}
.hright .tougao a{
	width: 100px;
	height: 37px;
	color: #FFFFFF;
	font-size: 14px;
	display: block;
}
.hright .tougao .tougao-1{
	width: 308px;
	height: 80px;
	position: relative;
	left: -186px;
	top: 13px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
	transition-delay: 0.3s;
	-webkit-transition: all 0.2s;
	-webkit-transition-delay: 0.3s;
	background-color: #FFFFFF;
	z-index: 99;
}
.hright .tougao:hover .tougao-1{
	visibility: visible;
	opacity: 1;
}
.hright .tougao .tougao-1 ul{
	width: 100%;
	height: 100%;
}
.hright .tougao .tougao-1 ul li{
	width: 77px;
	float: left;
	height: 100%;
	text-align: center;
}
.hright .tougao .tougao-1 ul li:nth-child(3){
	margin-top: 2px;
}
.hright .tougao .tougao-1 ul li a{
	color: #000000;
	display: block;
	width: 100%;
	height: 100%;
}
.hright .tougao .tougao-1 ul li a img{
	margin: 20px 20px -15px;
}
.hright .tougao .tougao-1 ul li:hover{
	background-color: #F4F4F4;
}
