<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- cx -->

  <meta name="renderer" content="webkit">
  <meta charset="UTF-8">
  <meta http-equiv="X-Frame-Options" content="SAMEORIGIN / DENY ">
  <title>视频展示</title>

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/basic.css" rel="stylesheet">
  <link href="/css/style_nc.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>

  <script type="text/javascript" src="../../dfiles/11295/public/static/bdtx2.js"></script>
  <![endif]-->
  <!--[if gte IE 9]><!-->
  <script type="text/javascript" src="/js/bdtx.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <!-- CustomerNO:77656262657232307c78475d51525742000000004350 -->
  <link rel="stylesheet" type="text/css" href="/css/content.vsb.css">
  <script type="text/javascript" src="/js/counter.js"></script>
  <script type="text/javascript">_jsq_(1003, '/content.jsp', 11106, 1563615159)</script>
  <!-- 引入样式 -->
  <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<!--标题栏开始-->
<div class="header">
  <div class="container">
    <div class="logo">
      <a title="广药大易班拾光映像工作室" style="color: #FFFFFF; font-size: 36px; font-weight: 800;text-decoration : none">
        <img src="/img/xh.jpg" style="vertical-align: middle;">广药大易班拾光映像工作室</a>
    </div>


    <span style="margin:40px 0;">
				<script type="text/javascript">
					function _nl_ys_check() {

                      var keyword = document.getElementById('showkeycode248646').value;
                      if (keyword == null || keyword == "") {
                        alert("请输入你要检索的内容！");
                        return false;
                      }
                      if (window.toFF == 1) {
                        document.getElementById("lucenenewssearchkey248646").value = Simplized(keyword);
                      } else {
                        document.getElementById("lucenenewssearchkey248646").value = keyword;
                      }
                      var base64 = new Base64();
                      document.getElementById("lucenenewssearchkey248646").value = base64.encode(document.getElementById("lucenenewssearchkey248646").value);
                      new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode248646"));
                      return true;
                    }
				</script>
				<div style="margin-left: auto;">
					<form action="/selectVideo" method="post" id="au1a" name="au1a"
                          onsubmit="return _nl_ys_check()" class="search-form">
						<input width="186px" name="TitleName" id="showkeycode248646" type="text" class="search">
						<div class="sch-btn"><input type="image" src="/img/xicon35.jpg" value="" class="btn-search">
						</div>

					</form>
				</div>

				<script language="javascript" src="/js/base64.js"></script>
				<script language="javascript" src="/js/formfunc.js"></script>

			</span>
    <div class="ggicon">
      <script language="javascript" src="/js/dynclicks.js"></script>


    </div>
    <script>
      $(document).ready(function () {
        $('.theme-login').click(function () {
          $('.theme-popover-mask').fadeIn(100);
          $('.theme-popover').slideDown(200);
        })
        $('.theme-poptit .close').click(function () {
          $('.theme-popover-mask').fadeOut(100);
          $('.theme-popover').slideUp(200);
        })
        $('.theme-weibo').click(function () {
          $('.theme-popover-mask').fadeIn(100);
          $('.theme-popover2').slideDown(200);
        })
        $('.theme-poptit .close').click(function () {
          $('.theme-popover-mask').fadeOut(100);
          $('.theme-popover2').slideUp(200);
        })
      });
    </script>
  </div>
</div>
<!--标题栏结束-->

<div class="content">

  <div class="main">

    <div class="rightMenu">
      <div class="rightMenu-title">
        首页
      </div>
      <ul class="rightMenu-list">
      </ul>
    </div>


    <div class="main-con">
      <div class="main-show">
        <div class="main-title">
          <a th:if="${TitleName}" th:href="@{'/select/'+${TitleName}+'/1'}"><font size="24px;">文章</font></a>
          <a th:unless="${TitleName}" href="/select/1"><font size="24px;">文章</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a><font color="#A22B34" size="24px;">视频</font></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="../index"><font size="24px;">主页</font></a>
        </div>

        <div class="inmainmain">
          <div class="inmainmain-xsdt">
            <ul class="ul-xsdtshowlist">

              <script language="javascript" src="/system/resource/js/dynclicks.js"></script>
              <script language="javascript" src="_dwr/interface/NewsvoteDWR.js"></script>
              <script language="javascript" src="_dwr/engine.js"></script>
              <script language="javascript" src="/system/resource/js/news/newscontent.js"></script>
              <script type="text/javascript">
                function checksearchu10() {
                  var keyword = document.getElementById("newskeycode252204").value
                  if (keyword == null || keyword == "") {
                    alert("请输入你要检索的内容！");
                    return false;
                  }
                  if (window.toFF == 1) {
                    document.getElementById("newskeycode2252204").value = Simplized(keyword);
                  } else {
                    document.getElementById("newskeycode2252204").value = keyword;
                  }
                  document.getElementById('_lucenesearchtype252204').value = 2;
                  var base64 = new Base64();
                  document.getElementById("newskeycode2252204").value = base64.encode(document.getElementById("newskeycode2252204").value);
                  document.getElementById("newskeycode252204").disabled = true;
                  return true;
                } </script>
              <form action="/ssjg.jsp?wbtreeid=1001&searchScope=1&currentnum=" method="post" name="au10a"
                    onsubmit="return checksearchu10()">
                <input type="hidden" id="newskeycode2252204" name="newskeycode2" value="1"><input
                      type="hidden" id="_lucenesearchtype252204" name="_lucenesearchtype" value=""><input
                      type='hidden' name='wbtreeid' value="1001">

              </form>

              <input type='hidden' name='page' value="1">
              <li th:each="video:${videos}">
                <i></i>
                <a th:text="${video.getTitle()}"
                   th:title="${video.getIntroduce()}" th:href="@{'/video/'+${video.getId()}}">【学习强国·中国教育在线】“学习贯彻党的二十大精神”论坛在广东药科大学举行</a><span
                      class="newstime" th:text="${video.getTime()}">2022-11-18</span>
              </li>


              <table class=listFrame cellspacing=1 cellpadding=0 border=0 width="100%">
                <tr>

                  <td th:unless="${TitleName}" align="center"><a th:text="共有  +${EssayNum}+条"></a>&nbsp;&nbsp; <a
                          th:href="@{'/selectVideo/1'}">首页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:unless="${page<2}"
                       th:href="@{'/selectVideo/'+${page - 1}}">上一页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:unless="${page>=EssayNum/15+1}"
                       th:href="@{'/selectVideo/'+${page+1}}">下一页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp; <a
                            th:href="@{'/selectVideo/'+${EssayNum/15+1}}">尾页</a>&nbsp;&nbsp;
                    <a th:text="共有+${EssayNum/15+1}+页"></a>&nbsp;&nbsp; <a th:text="当前第+${page}"></a>
                  </td>
                  <td th:if="${TitleName}" align="center"><a th:text="共有  +${EssayNum}+条"></a>&nbsp;&nbsp; <a
                          th:href="@{'/selectVideo/'+${TitleName}+'/1'}">首页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:unless="${page<2}"
                       th:href="@{'/selectVideo/'+${TitleName}+'/'+${page - 1}}">上一页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:unless="${page>=EssayNum/15+1}"
                       th:href="@{'/selectVideo/'+${TitleName}+'/'+${page+1}}">下一页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp; <a
                            th:href="@{'/selectVideo/'+${TitleName}+'/'+${EssayNum/15+1}}">尾页</a>&nbsp;&nbsp;
                    <a th:text="共有+${EssayNum/15+1}+页"></a>&nbsp;&nbsp; <a th:text="当前第+${page}"></a>
                  </td>

                </tr>
              </table>
              <script language="javascript" src="/system/resource/js/base64.js"></script>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- 底部 -->
<div class="footer">
  <div class="footer-content">
    <a title="广药大易班拾光映像工作室" style="color: #FFFFFF; font-size: 36px; font-weight: 800;text-decoration : none">
      <img src="/img/xh.jpg" style="vertical-align: middle;">广药大易班拾光映像工作室</a>
    <div class="content-right">
      <div class="ewm">
        <span><img src="/img/er.jpg" alt="" width="100%"></span>
        <div class="ewm-gz">
          <p>扫一扫</p>
          <p>关注我们</p>
        </div>
      </div>
    </div>



  </div>
  <div class="banquan">
    <p>xxxxxx</p><p><a href="http://beian.miit.gov.cn" target="_blank">备案号</a></p>
  </div>
</div>

</body>
</html>
