<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- cx -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<meta name="renderer" content="webkit">
	<meta charset="UTF-8">
	<meta http-equiv="X-Frame-Options" content="SAMEORIGIN / DENY ">
	<title th:text="${video.getTitle()}">广东省高教学会外国留学生管理学会专家组来我校检查国际学生管理和服务工作-广药广药易班</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<link href="/css/basic.css" rel="stylesheet">
	<link href="/css/style_nc.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
					
					<script type="text/javascript" src="../../dfiles/11295/public/static/bdtx2.js"></script>
					<![endif]-->
	<!--[if gte IE 9]><!-->
	<script type="text/javascript" src="/js/bdtx.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<!--<![endif]-->

	<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->

	<!-- CustomerNO:77656262657232307c78475d51525742000000004350 -->
	<link rel="stylesheet" type="text/css" href="/css/content.vsb.css">
	<script type="text/javascript" src="/js/counter.js"></script>
	<script type="text/javascript">_jsq_(1003, '/content.jsp', 11106, 1563615159)</script>


	<!-- cx -->
	<meta charset="UTF-8">
	<title th:text="${video.getTitle()}">【轮滑】深夜在广东药科大学冲破</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css" />
	<link rel="stylesheet" type="text/css" href="/css/header-nr.css" />
	<link rel="stylesheet" type="text/css" href="/css/内容.css" />

	<link rel="stylesheet" type="text/css" href="/css/index.css" />


</head>

<body>
	<!--标题栏开始-->
	<div class="header">
		<div class="container">
			<div class="logo">
				<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
				<a title="广药大易班拾光映像工作室" style="color: #FFFFFF; font-size: 36px; font-weight: 800;text-decoration : none">
					<img src="/img/xh.jpg" style="vertical-align: middle;">广药大易班拾光映像工作室</a>
			</div>
			<div>
				<div class="theme-popover">
					<div class="theme-poptit">
						<a href="javascript:;" title="关闭" class="close">×</a>
					</div>
					<div class="theme-popbod dform">
						<img src="/img/weixin.jpg">
					</div>
				</div>
				<div class="theme-popover2">
					<div class="theme-poptit">
						<a href="javascript:;" title="关闭" class="close">×</a>
						</div>
					<div class="theme-popbod dform">
						<img src="/img/newweibo.jpg">
						</div>
				</div>
			</div>

			<span style="margin:40px 0;">
				<script type="text/javascript">
					function _nl_ys_check() {

						var keyword = document.getElementById('showkeycode248646').value;
						if (keyword == null || keyword == "") {
							alert("请输入你要检索的内容！");
							return false;
						}
						if (window.toFF == 1) {
							document.getElementById("lucenenewssearchkey248646").value = Simplized(keyword);
						} else {
							document.getElementById("lucenenewssearchkey248646").value = keyword;
						}
						var base64 = new Base64();
						document.getElementById("lucenenewssearchkey248646").value = base64.encode(document.getElementById("lucenenewssearchkey248646").value);
						new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode248646"));
						return true;
					} 
				</script>
				<div style="margin-left: auto;">
					<form action="/select" method="post" id="au1a" name="au1a"
						  onsubmit="return _nl_ys_check()" class="search-form">
						<input width="186px" name="TitleName" id="showkeycode248646" type="text" class="search">
						<div class="sch-btn"><input type="image" src="/img/xicon35.jpg" value="" class="btn-search">
						</div>

					</form>
				</div>

				<script language="javascript" src="/js/base64.js"></script>
				<script language="javascript" src="/js/formfunc.js"></script>

			</span>
			<div class="ggicon">
				<script language="javascript" src="/js/dynclicks.js"></script>



			</div>
			<script>
				$(document).ready(function () {
					$('.theme-login').click(function () {
						$('.theme-popover-mask').fadeIn(100);
						$('.theme-popover').slideDown(200);
					})
					$('.theme-poptit .close').click(function () {
						$('.theme-popover-mask').fadeOut(100);
						$('.theme-popover').slideUp(200);
					})
					$('.theme-weibo').click(function () {
						$('.theme-popover-mask').fadeIn(100);
						$('.theme-popover2').slideDown(200);
					})
					$('.theme-poptit .close').click(function () {
						$('.theme-popover-mask').fadeOut(100);
						$('.theme-popover2').slideUp(200);
					})
				});
			</script>
		</div>
	</div>
	<!--标题栏结束-->

	<!-- 导航开始 -->
	<nav role="navigation" class="navbar navbar-inverse">
		<!--navbar-fixed-top -->
		<div class="container navbarhead">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
						class="navbar-toggle" type="button">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<a class="navbar-brand" href="/index">首页</a>
			<a class="navbar-brand" href="/selectVideo/1">视频列表</a>
			<a class="navbar-brand" href="/select/1">文章列表</a>
		</div>
	</nav>
	<style>
        .theme-popover2 {
            z-index: 9999;
            position: fixed;
            top: 50%;
            left: 60%;
            width: 200px;
            height: 186px;
            margin: -120px 0 0 -300px;
            border-radius: 5px;
            border: solid 2px #666;
            background-color: #fff;
            display: none;
            box-shadow: 0 0 10px #666;
        }
    </style>
	<!-- 导航结束 -->

	<!--内容栏开始-->
	<div class="neirong">
		<!-- class form //css/内容.css -->

		<!-- 内容主div -->
		<div class="neirong-1">
			<h1 th:text="${video.getTitle()}">【轮滑】深夜在广东药科大学冲破</h1>
			<p class="p-shang" th:text="${video.getEnddata()}"><a href="#">主页</a>><a href="#">视频</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2022-06-16 23:18:40
			</p><br>
			<p> </p>



			<video width="1057px" height="683px" controls>
				<source th:src="@{'/getVideo/'+${video.getId()}}" type="video/mp4">
				<object data="video5.mp4" width="1057" height="683">
					<embed src="${video.videoUrl}" width="1057" height="683">
				</object>
			</video>



			<div class="neirong-1-2" th:utext="${video.getText()}">
				我是Snowchar，求大佬们可怜可怜我啊！<br />
				当初我不知道天高地厚，十分酷炫且帅气的答应了这个单子。当时那是一个自信，那是一个嚣张，那个逼装的，认识的我的人知道我是一个普普通通的学生，不知道听我那口气还以为我是哪来的顶级架构师。<br />
				啊啊啊，装逼一时爽，一直装逼一直爽。<br />
				妈呀，现在要真的做东西，天哪，怎么这么多内容要弄啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊！<br />
				呜呜呜，<br />
				我好累，<br>
				我只想装逼，<br />
				我不想工作，<br />
				有没有人可怜可怜我啊，<br />

				我是打工人 却没有打工魂~<br />

				我不想每日每夜都听他们忽悠人~<br />

				别再问<b>为什么我比不上别人</b><br />

				我只想身体健康 最近肝有点疼<br />

				也不是没有 <b>幻想过成为更好的人</b><br />

				只是有的时候 <br />

				<b>怪我太天真</b><br />

			</div>


		</div>

		<!-- 内容右div -->
		<div class="neirong-2">

			<h2>相关推荐</h2>

			<div class="nr-xg" th:each="video1:${videos}">
				<div class="nr-xg-1">
					<img th:src="${video1.getCover()}" class="xg-da" />
					<img src="/img/neirong/shijian.png" class="xg-xiao" />
					<span>16:23</span>
				</div>
				<div class="nr-xg-2">
					<a th:href="@{'/video/'+${video1.getId()}}" th:text="${video1.getTitle()}">测试视频？？？【待定】</a>
					<p>Snow Char</p>
					<p th:text="${video1.getEnddata()}">435.2万播放 · 6.5万弹幕</p>
				</div>
			</div>

			</div>


	</div>
	<!--内容栏结束-->


	<!-- 底部 -->
	<div class="footer">
		<div class="footer-content">
			<a title="广药大易班拾光映像工作室" style="color: #FFFFFF; font-size: 36px; font-weight: 800;text-decoration : none">
				<img src="/img/xh.jpg" style="vertical-align: middle;">广药大易班拾光映像工作室</a>
			<div class="content-right">
				<div class="ewm">
					<span><img src="/img/er.jpg" alt="" width="100%"></span>
					<div class="ewm-gz">
						<p>扫一扫</p>
						<p>关注我们</p>
					</div>
				</div>
			</div>



		</div>
		<div class="banquan">
			<p>xxxxxx</p><p><a href="http://beian.miit.gov.cn" target="_blank">备案号</a></p>
		</div>
	</div>


	<script src="/js/changeimg.js"></script>
	<script src="/js/guanzhu.js"></script>
</body>

</html>